@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    min-height: 100vh;
    background: url('/images/back.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}

.container{
    width: 420px;
    color: white;
    background: transparent;
    border-radius: 15px;
    padding: 30px 40px;
    border: 5px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.container h1 {
    text-align: center;
    font-size: 30px;
}


.container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    
}

.input-box input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 18px;
    padding: 20px 45px 20px 20px;
    color: white;

}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.container .remember-passwrord {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-passwrord label input {
    color: white;
    margin-right: 3px;
}

.remember-passwrord a {
    color: white;
    text-decoration: none;
}

.remember-passwrord a:hover {
    text-decoration: underline;
}

.container .btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 15px;
    color: #333;
    font-weight: 550;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.container .user {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.user p a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.user p a:hover{
    text-decoration: underline;
}







